
.App{
  margin: 0px;
  padding: 0px;
  height: 100vh;
  overflow-y:hidden;
}

.svg-container{
      height: 25vh;
}

.wavy-yellow-svg svg{
  height: 200px;
  transform: translateX(171%);
}

.top-svg{
  overflow-x: hidden;
}

.semicircle-svg svg {
  /* transform: rotate(90deg); */
  /* background-color: red; */
  height: 200px;
  transform: translateX(315%);
  overflow-x: hidden;
}
.login-form{
  display: flex;
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-input{
  margin-top: 20%;
  display: flex;
  flex-direction: column;
}

.login-input>input{

  padding: 10px;
  border: 1px solid #FFDB00;
  border-radius: 5px;
  
}

.login-buttons{
  margin-top: 10%;
  display: flex;
  flex-direction: column;
}

.login-buttons>button{
  margin-top: 20px;
  background-color: #FFDB00;
  padding: 10px;
  border: 1px solid #FFDB00;
  outline: none;
  border-radius: 5px;
}

div.input-block {
  position: relative;
}
div.input-block input {
  font-size: 1.6rem;
  color: #495055;
  width: 200px;
  padding: 10px 15px;
  border-radius: 10px;
  border: 2px solid #FFDB00;
  outline: none;
}
div.input-block span.placeholder {
  position: absolute;
  margin: 17px 0;
  padding: 0 4px;
  color: #6c757d;
  display: flex;
  align-items: center;
  font-size: 15px;
  top: 0;
  left: 17px;
  transition: all 0.2s;
  transform-origin: 0% 0%;
  background: none;
  pointer-events: none;
}
div.input-block input:valid+span.placeholder,
div.input-block input:focus+span.placeholder {
  transform: scale(0.8) translateY(-35px);
  background: #fff;
}
div.input-block input:focus {
  color: #284B63;
  border-color: #FFDB00;
}
div.input-block input:focus+span.placeholder {
  color: #284B63;
}

.bottom-svg svg{
  height: 200px;
  position:absolute;
  bottom:0px;
  transform: translateX(-17%);
}